# for pnpm
shamefully-hoist=true

> presentation-anglais@ dev C:\Users\fabie\Desktop\Presentation-anglais
> slidev --open "echo" "shamefully-flatten=true"

 ELIFECYCLE  Command failed with exit code 1.
